#filtro{
    height: 100%;
}

#tablaDiv{
    overflow: auto;
    max-height: 600px; /*Excepto en movil*/
    white-space: nowrap;
    padding: 0;
}


td+td+td+td{
    text-align: center;
}

@media (min-width: 768px){
    #tablaDiv{
        padding-left: 20px
    }
}


/*Dificultad*/
.oi-star{color: orange;}


/*Comensales*/
.slider {
    -webkit-appearance: none;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #007bff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #007bff;
    cursor: pointer;
}