#filtro{
    height: 100%;
}

#tablaDiv{
    overflow: auto;
    max-height: 600px; /*Excepto en movil*/
    white-space: nowrap;
    padding: 0;
}


td+td+td+td{
    text-align: center;
}

@media (min-width: 768px){
    #tablaDiv{
        padding-left: 20px
    }
}


/*Dificultad*/
.oi-star{color: orange;}
